.container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--mui-palette-secondary-main);
  border: 1px solid var(--mui-palette-debug-main);
  color: var(--mui-palette-tertiary-main);
  display: flex;
  flex-direction: column;
}

.header {
  min-width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.title {
  color: var(--mui-palette-primary-main);
}

.main {
  max-width: 100vw;
  min-width: 300px;
  overflow: hidden;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.footer {
  min-width: 100vw;
  max-height: 100px;
  margin-top: auto;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.textButton {
  padding: 0.5rem;
  color: var(--mui-palette-tertiary-main);
}

.uploadFileStack {
  border: 1px dashed var(--mui-palette-primary-main);
  padding: 1rem;
  min-width: 350px;
  align-items: center;
}

.uploadDiv {
  width: 350px;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: 5px;
  background: var(--mui-palette-tertiary-main);
  border: 1px solid var(--mui-palette-tertiary-main);
}

.joblist {
  padding: 1rem 20px;
  width: 80vw;
  min-width: 350px;
  max-width: 50rem;
}

.jobDescription {
  margin-top: 1rem;
}

.maxThreeLinesText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
